body{
    
    margin:0px; 
    background-color: rgb(102, 97, 97);
    background-image: url('https://image.downhdwalls.com/wallpapers/simple-gray-background-4k-435182.jpg');
    background-repeat:no-repeat;
    background-size: 100vw 100vh; 
    opacity: 0.8;
}

.header {
    height:20px;
    margin-bottom:10px;
    background-color: grey;
}

.main {
    padding-top: 10px;
}

.logsDiv {
    padding:20px;
}

.log,.reg,.out {
    font-weight: bold;
    text-decoration: none;
    color:black;
    background-color: grey;
    padding:10px 72px;
    border:2px solid black;
    border-radius: 5px;    
}

.log {
    padding:10px 80px ;
}

.log:hover,.reg:hover,.out:hover {
background-color: black;
color:grey;

}

.login,.register {
    height:50px;
    text-align: left;
}

.logout {
    height:50px;
    text-align: right;
}

.input {
    text-align: center;
    margin-top: 20px;
}


#name , #email, #password,#search,#confirmpassword {
    border:2px solid black;
    border-radius: 5px;
    width:290px;
    padding: 3px;
}


.inputs {
    margin:10px;
}


.select {
    border:2px solid black;
    border-radius: 5px;
    width:300px;
}

#select,.submit {
    padding: 3px;
}

.submit {
    border:2px solid black;
    border-radius: 5px;
    background-color: rgb(29, 28, 28);
    width:300px;
    margin-top:50px;
    color:white;
}

.submit:hover {
    cursor:pointer;
    border-color: black;
    background-color: rgb(88, 40, 40);
   
}

.footer {
    width:100%;
    height:50px;
}

.opt{
    border-radius: 3px;;
}

.backDiv {
    text-align: center;
}

.back {
    color:red;
    text-decoration: none;
    font-weight: bold;
}

.alert-success {
    background-color:rgb(13, 150, 168);
    color:black;
    text-align: center;
    margin:0px 30%;
    border-radius: 5px;
    padding:5px;
    opacity: 0.5;
}

.alert-error {
    background-color:rgb(177, 78, 39);
    color:black;
    text-align: center;
    margin:0px 30%;
    border-radius: 5px;
    padding:5px;
    opacity: 0.5;
}

input,select,button {
    outline-offset: 0px !important;
    outline: none  !important;
}

.namesDiv {
    text-align: right;
    color:black;
    padding-right:60px;
}

 .mleft,.mright {
     display:inline-block;
     justify-content: center;
     align-items: center;
     width:49%;
 }

 .mld,.mrd {
     display:flex;
     justify-content: center;
     align-items: center;
 }

 .rtypeDiv {
     padding-left:40px;
 }

 .table {
     margin-bottom:170px;
     margin-left:100px;
     text-align: left;
 }

 .homel {
     text-decoration: none;
     color:black;
     padding:5px;
     margin-top:5px;

 }


